body{
  font-family: 'Poppins', sans-serif;
  margin: 0%; 
}
h1{
  font-size: 50px;
}
.h2{
  font-size: 40px;
}
.orange{
 color: orange;
}
.Experiences{
  display: flex;
  margin-bottom: 150px;
}
.para{
  width:50%;
  padding-left:5%;
} 
.para img{
  width: 80%;
}
#link{
padding-right: 5% ;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(orange,tomato);
  padding:10px 40px;
  border-radius: 5%;
  color: white;
  font-weight: 700;
}
.top-bannar{
  background-image: url(top-banner.png);
  background-repeat: no-repeat;
}
.Experiences-area{
background-image: url(exp-bg.png);
background-repeat: no-repeat;
background-position: left;
}
 .id{
   padding-top: 50px;
 }
 .big-dream{
  display: flex;
  background-image: url(dream-bg.png);
  background-repeat: no-repeat;
  background-position:right;
 }
 .Experiences-item{
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px rgb(78, 76, 76);
  padding-left: 20px;
  border-radius: 10px;
  width:40%;
}
#one{
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#secend{
  border-image: linear-gradient(purple, tomato);
  border-left: 7px solid;
  border-image-slice: 1;
}
footer{
  text-align: center;
}
